NEXT_PUBLIC_SUPABASE_URL=https://mrzgnczleitneothbiel.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yemduY3psZWl0bmVvdGhiaWVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4ODgyMTYsImV4cCI6MjA4ODQ2NDIxNn0.x6VNMTYKq8-qKRv6BWafue0b6JcjvmRkhS9kvjCYMZI
